### PAIR PROGRAMMING PYTHON + SQL 2
---

**Objetivos**

Durante la clase de pair programming de ayer nos creamos nuestra primerita BBDD desde cero en Workbench. En el ejercicio de hoy volveremos a crear esa misma BBDD, pero esta vez desde Python.

-NOTA: Cambiad el nombre de la BBDD a mi_primerita_BBDD_Python

-NOTA: Cuando creeis las distintas tablas de vuestra BBDD repetereis la mismas lineas de código una y otra vez. 

Para evitar esto, crearos una función que nos sirva para crear tablas independientemente del contenido de la tabla. La función recibirá como parámetros:

 - Contraseña de la conexión al servidor.

 - Query para crear la tabla.

In [1]:
# Estamos creando la BBDD mediante la query CREATE DATABASE tras habernos conectado al servidor y crear el cursor

import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE mi_primerita_BBDD_Python")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'mi_primerita_bbdd_python'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'mi_primerita_bbdd_python'; database exists

In [7]:
# Definimos una función para crear las tablas de la base de datos que recibirá dos parámetros, 
# la constraseña del servidor y la query de la tabla que queremos crear.


def crear_tabla_sql(contraseña, query): 

    cnx = mysql.connector.connect(user='root', password = contraseña ,
                                host='127.0.0.1', database ='mi_primerita_BBDD_Python')


    mycursor = cnx.cursor()

    try:
        mycursor.execute(query)
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

    mycursor.close()
    cnx.close()

In [8]:
 # Definimos la query de creación de tabla con todas las columnas y requisitos de las mismas. 
 # Llamamos a la función dándole los parámetros.
 # Esto lo haremos cuatro veces creando las cuatro tablas de la BBDD. 

query_tabla_zapatillas = ("""CREATE TABLE  IF NOT EXISTS Tabla_Zapatillas 
                            (id_zapatilla INT NOT NULL AUTO_INCREMENT PRIMARY KEY, 
                            modelo VARCHAR(45) NOT NULL,
                            color VARCHAR(45) NOT NULL, 
                            talla INT NOT NULL)""")

crear_tabla_sql('AlumnaAdalab', query_tabla_zapatillas)

MySQLCursor: CREATE TABLE Tabla_Zapatillas
         ..

In [9]:
query_tabla_clientes = ("""CREATE TABLE  IF NOT EXISTS tabla_clientes (
                            id_cliente INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            nombre VARCHAR(45) NOT NULL ,
                            numero_telefono INT(9) NOT NULL , 
                            email  VARCHAR(45) NOT NULL , 
                            direccion VARCHAR(45) NOT NULL , 
                            ciudad VARCHAR(45) DEFAULT NULL , 
                            provincia VARCHAR(45) NOT NULL , 
                            pais VARCHAR(45) NOT NULL , 
                            codigo_postal INT(45) NOT NULL)""")

crear_tabla_sql('AlumnaAdalab', query_tabla_clientes)

MySQLCursor: CREATE TABLE tabla_clientes (
          ..

In [10]:
query_tabla_empleados = ("""CREATE TABLE  IF NOT EXISTS tabla_empleados (
                            id_empleado INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            nombre VARCHAR(45) NOT NULL , 
                            tienda VARCHAR(45) NOT NULL , 
                            salario INT DEFAULT NULL , 
                            fecha_incorporacion DATE NOT NULL
                            )""")

crear_tabla_sql('AlumnaAdalab', query_tabla_empleados)

MySQLCursor: CREATE TABLE tabla_empleados (
         ..

In [11]:
query_tabla_facturas = ("""CREATE TABLE IF NOT EXISTS `tabla_facturas` (
                            id_factura INT NOT NULL AUTO_INCREMENT PRIMARY KEY,
                            numero_factura INT(45) NOT NULL ,
                            fecha DATE NOT NULL ,
                            id_zapatilla INT NOT NULL ,
                            id_empleado INT NOT NULL ,
                            id_cliente INT NOT NULL , 
                            CONSTRAINT fk_tabla_facturas_tabla_zapatillas
                            FOREIGN KEY (id_zapatilla)
                            REFERENCES tabla_zapatillas (id_zapatilla),
                            CONSTRAINT fk_tabla_facturas_tabla_empleado
                            FOREIGN KEY (id_empleado)
                            REFERENCES tabla_empleados (id_empleado),
                            CONSTRAINT fk_tabla_facturas_tabla_cliente
                            FOREIGN KEY (id_cliente)
                            REFERENCES tabla_clientes (id_cliente)
                            )""")

crear_tabla_sql('AlumnaAdalab', query_tabla_facturas)

MySQLCursor: CREATE TABLE IF NOT EXISTS `tabla_factur..