1- Id cargando todos los ficheros en vuestro jupyter.
Si os da error leer el pickle será por la versión de pandas. Podéis guardar el csv como pickle y cargarlo de ahí.

In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
#Archivo csv
df_csv = pd.read_csv('Datos/quejas.csv', sep = ';', encoding = 'Latin 1')
df_csv.head(10)

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
5,Sugerencia,Contestada al Ciudadano,INTERNET,2022-03-08 00:00:00,2022-03-14 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
6,Queja,Contestada al Ciudadano,INTERNET,2022-01-28 00:00:00,2022-02-10 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
7,Sugerencia,Contestada al Ciudadano,INTERNET,2022-01-24 00:00:00,2022-02-01 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
8,Queja,Recepcionada por Unidad,INTERNET,2022-02-17 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
9,Queja,Contestada al Ciudadano,INTERNET,2022-03-21 00:00:00,2022-03-28 00:00:00,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [3]:
#Archivo excel
df_xlsx = pd.read_excel('Datos/quejas2.xlsx')
df_xlsx.head(10)

,DESCRIPCION_TEMA,DESCRIPCION_SUBTEMA
0,ATENCIÓN AL CIUDADANO,ADMINISTRACIÓN ELECTRÓNICA
1,ATENCIÓN AL CIUDADANO,FUNCIÓN PÚBLICA
2,ATENCIÓN AL CIUDADANO,OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3,ATENCIÓN AL CIUDADANO,OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4,ATENCIÓN AL CIUDADANO,OTROS
5,ATENCIÓN AL CIUDADANO,PORTAL DEL CIUDADANO
6,ATENCIÓN AL CIUDADANO,PUNTOS DE INFORMACIÓN EN LAS CONSEJERÍAS
7,ATENCIÓN AL CIUDADANO,SUGERENCIAS Y QUEJAS
8,ATENCIÓN AL CIUDADANO,TELÉFONO 012
9,ATENCIÓN AL CONTRIBUYENTE,DEVOLUCIÓN DE INGRESOS

In [4]:
#Archivo JSON
df_json = pd.read_json('Datos/quejas.json')
df_json.head(10)

                                                data
0  {'unidad_descripcion': 'D.G. de Descarbonizaci...
1  {'unidad_descripcion': 'D.G. de Descarbonizaci...
2  {'unidad_descripcion': 'D.G. de Descarbonizaci...
3  {'unidad_descripcion': 'D.G. de Descarbonizaci...
4  {'unidad_descripcion': 'D.G. de Descarbonizaci...
5  {'unidad_descripcion': 'D.G. de Descarbonizaci...
6  {'unidad_descripcion': 'D.G. de Descarbonizaci...
7  {'unidad_descripcion': 'D.G. de Descarbonizaci...
8  {'unidad_descripcion': 'D.G. de Descarbonizaci...
9  {'unidad_descripcion': 'D.G. de Descarbonizaci...

In [5]:
# Para que sea más legible
df_json2 = df_json['data'].apply(pd.Series)
df_json2.head()

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A
4,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-29 00:00:00,N/A

In [6]:
#Archivo pickle
df_pickle = pd.read_pickle('Datos/algas.pickle')
df_pickle.head()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

2. Para poner el práctica el read_clipboard elegir alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:
- csv
- excel
- json
- pickle

In [15]:
df_clip = pd.read_clipboard()
df_clip

     Alumno Prácticas  Examen NOTA FINAL
0  Alumno 1         6       4          5
1  Alumno 2         6       8          7
2  Alumno 3      n.p.       8       n.p.
3  Alumno 4         9       9          9

In [16]:
#Guardar a csv
df_clip.to_csv('Datos/tabla.csv')

In [17]:
#Guardar en excel
df_clip.to_excel('Datos/tabla.xlsx')

In [18]:
#Guardar en json
df_clip.to_json('Datos/tabla.json')

In [19]:
#Guardar en pickle
df_clip.to_pickle('Datos/tabla.pickle')